

<ng-container >
  <mat-card class="m-2 h-4/5 min-h-min	min-w-max" [ngClass]="sizCard">
          <mat-card-header>
          </mat-card-header>

     <ng-container *ngIf="totalData">
      <mat-card-content>
      <p [ngClass]="color" class="text-center font-bold	text-2xl">{{ totalData }}</p>
      </mat-card-content>

   <ng-container *ngFor="let item of dataFooter">
  <span class="m-2 xs:m-1 text-slate-400 text-xs">{{item.key}}</span>
  <span class="text-cyan-500	 text-base">{{item.value}}</span>
   </ng-container>
     </ng-container>


     <ng-container *ngIf="arrayDataWorkshops">
    <ng-container *ngFor="let item of arrayDataWorkshops">
    <p *ngIf="item.workshopName"> {{item.workshopName}}</p>
    <p *ngIf="item.firstName || item.lastName" class="flex items-center my-1"><img [src]="item.imageUrl" class="w-6 h-6 rounded-full
      " alt=""> <span>{{item.firstName}} {{item.lastName}}</span></p>

</ng-container>
     </ng-container>


  </mat-card>
</ng-container>

