<ng-container *ngIf="cardDetails$ | async as cardDetails">
  <ng-container >
    <div class="grid gap-1  grid-cols-2 max-[700px]:grid-cols-1 grid-rows-1">
      <app-card
        [color]="'text-violet-700'"
        [dataFooter]="[
        {
          key: 'UpcomingBookings:',
          value: cardDetails['totalUpcomingBookings']
        },
        {
          key: 'OngoingBookings:',
          value: cardDetails['totalOngoingBookings']
        },
        {
          key: 'CompletedBookings:',
          value: cardDetails['totalCompletedBookings']
        }
      ]"
        [totalData]="cardDetails['totalBookings']"
        [sizCard]="'w-4/2 max-[700px]:w-3/2'"
      ></app-card>
       <app-card
        [color]="'text-green-800'"
        [totalData]="(cardDetails['totalRevenues']| number: '1.0-0')"
        [sizCard]="'w-4/2 max-[700px]:w-3/2'"
      ></app-card>
      </div>

      <div class="grid gap-1 grid-cols-3 max-[700px]:grid-cols-1 grid-rows-1">
      <app-card
      [color]="'text-violet-700	'"
      [dataFooter]="[
        {
          key: 'EnablWork:',
          value: cardDetails['totalEnabledWorkshops']
        },
        {
          key: 'DisablWork:',
          value: cardDetails['totalDisabledWorkshops']
        },
        {
          key: 'PublishWork:',
          value: cardDetails['totaltotalPublishedWorkshops']
        }

      ]"
      [totalData]="cardDetails['totalWorkshops']| number: '1.0-0'"
      [sizCard]="'w-3/2'"
    ></app-card>
    <app-card
    [color]="'text-violet-700	'"
    [dataFooter]="[
      {
        key: 'DisablWorks:',
        value: cardDetails['totalEnabledApprovedInstructors']
      },
      {
        key: 'PublishdWork:',
        value: cardDetails['totalDisabledApprovedInstructors']
      }

    ]"
    [totalData]="cardDetails['totalInstructors']"
    [sizCard]="'w-3/2'"
  >
</app-card>
<app-card
[color]="'text-violet-700	'"
[totalData]="cardDetails['totalClients']"
[sizCard]="'w-3/2'"
>
</app-card>
    </div>

    <div class="grid gap-2 grid-cols-2 max-[700px]:grid-cols-1 grid-rows-1">
      <app-card
      [color]="'text-violet-700'"
      [dataFooter]="[
        {
          key: 'totalApprovedEngagementRequests:',
          value: cardDetails['totalApprovedEngagementRequests']
        },
        {
          key: 'totalPendingEngagementRequests:',
          value: cardDetails['totalPendingEngagementRequests']
        },

      ]"
      [totalData]="cardDetails['totalEngagementRequests']"
      [sizCard]="'w-4/2'"
    ></app-card>
    <app-card
    [color]="'text-violet-700'"
    [totalData]="cardDetails['totalSuggestionRequests']"
    [sizCard]="'w-4/2'"
  ></app-card>
    </div>
    <div class="grid gap-2 grid-cols-2 max-[700px]:grid-cols-1 grid-rows-1">
    <app-card
    [color]="'text-violet-700'"
    [arrayDataWorkshops]="cardDetails['topRatedInstructors']"
    [sizCard]="'w-4/2'"
  >
</app-card>

<app-card
[color]="'text-violet-700'"
[arrayDataWorkshops]="cardDetails['topRevenueWorkshops']"
[sizCard]="'w-4/2'"
>
</app-card>
    </div>
  </ng-container>
</ng-container>
